<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="61997f1a-85b9-453e-ae01-ea22096fe1e8" Publisher="CN=test" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Notes</DisplayName>
    <PublisherDisplayName>Sample Template</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="KrakenMe.WindowsApp.App">
      <VisualElements DisplayName="KrakenMe" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Notes" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\widelogo.png" ShortName="Notes" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>